<div class="thumbnail">
    <%= image_tag @ad.picture.url(:large) %>
    <br>
    <div class="caption-full">
        <h4 class="pull-right"><%= humanized_money_with_symbol @ad.price %></h4>
        
        <div class="row">
          <div class="text-right">   
            <% if @ad.active? %>
              <% if member_signed_in? %>
                <%= form_tag(checkout_payments_path) do %>
                  <%= hidden_field_tag :ad_id, @ad.id %>
                  <%= submit_tag 'Comprar', class: "btn btn-success", data: { confirm: "Confirma compra do produto selecionado ?" } %> 
                <% end %>
              <% else %>
                <%= link_to 'Efetue login para comprar', new_member_session_path, class: "btn btn-success" %>
              <% end %>
            <% else %>
              <%= link_to "#{@ad.status_i18n}", "#", class: "btn btn-success", disabled: true %>
            <% end %>
          </div>
        </div>
        <hr>
        
        <h4><a href="#"><%= @ad.title %></a>
        </h4>
        <p><%= @ad.description.html_safe %></p>
        <div class="ratings">
            <!--p class="pull-right">3 reviews</p-->
            <p>
                <!--%= rating_for @ad, 'quality' %-->
            </p>
        </div>
    </div>
</div>

<div class="well">

    <% if member_signed_in? %>
      <div class="row">
          <%= link_to '#', class: "btn btn-success text-right", data: {toggle: 'modal', target: '#commentModal'} do %>    
            Comentar
          <% end %>
      </div>
      <hr>
    <% else %>
      <div class="row">
        <button type="button" class="btn btn-success" disabled="disabled", data-toggle="modal" data-target="#commentModal">
          Efetue Login para comentar
        </button>
      </div>
      <hr>
    <% end %>
    
    <%= render partial: 'site/ad_detail/comments' %>    
</div>
