<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">    
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-5 col-md-offset-3 col-sm-6 col-sm-offset-2">                    
    <div class="panel panel-info" >
      <div class="panel-heading">
          <div class="panel-title">Recuperar Senha</div>
      </div>  

      <div style="padding-top:10px" class="panel-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "members/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <BR>
          <div class="actions">
            <%= f.submit "Enviar e-mail de recuperação" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>  
</div>  

<% flash.each do |key, value| %>
  <%= javascript_tag "$.notify( { message: '#{value}'}, { type: 'success', placement: { from: 'top', align: 'center' }});" %>
<% end %>    

<% unless devise_error_messages!.blank? %>
  <% resource.errors.full_messages.each do |message| %>
    <%= javascript_tag "$.notify( { message: '#{message}'}, { type: 'success', placement: { from: 'top', align: 'center' }});" %>
  <% end %>    
<% end %>    
            
