<% @ads.each do |ad| %>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <%= image_tag ad.picture.url(:medium) %>
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to truncate(ad.title, length: 20), site_ad_detail_path(ad), remote: true, data: { push: true } %>
          </h4>
          <h5><%= humanized_money_with_symbol(ad.price) %></h5>
          <p class="card-text"><%= truncate(ad.description_short,length: 100) %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>
  <% end %>  

</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <%= paginate @ads %>
  </div>
  <div class="col-md-3"></div>
</div>