
  <% 5.times do %><br><% end %>
  <div class="container">
    
    <div class="row">
      <div class="well col-md-12">
        <%= form_tag site_search_path, method: :get do %>
          <div class="col-md-3"></div>
          <!--div class="col-md-1"><h4 style="text-align:center">Buscar</h4></div-->
          <div class="col-md-6">
            <div class="input-group mb-3">
              <%= text_field_tag(:q, params[:q], { class: "form-control", placeholder: "#{cookies[:search_term] ? "Buscar novamente: " + cookies[:search_term] : 'O que está procurando ?'}" }) %>
              
              <%= submit_tag("Pesquisar", class: "btn btn-outline-secondary", id: "button-addon2") %>
            </div>
          </div>
          <div class="col-md-3"></div>
        <% end %>
      </div>  
    </div>
    <div class="row">
      
      <%= render partial: 'site/shared/sidebar' %>

      <div id="home-detail" class="col-lg-9">
        
        
        <%= render partial: 'site/shared/carousel' %>

        <div class="row">
          
          <%= render partial: 'site/shared/ads' %>

        </div>

      </div>

    </div>

  </div>
  <% 4.times do %><br><% end %>